
img {
    /*filter: url(#squiggle);*/
    /*filter: url(#noiseFilter);*/
}

@page {
	size: 7in 10.5in;
	/*border:  1px solid red;*/
	marks: crop;
	margin-top: .75in;
	margin-bottom: .75in;
	margin-inside: .875in;
	margin-outside:  .875in;
	padding-top:  .125in;
	padding-bottom:  .125in;
}






@page body:left {
        @top-left {
			font-family: "Typer Pro Mono";
			letter-spacing: -.0425em;
            content: "THE NEKROMANTIKON";
            vertical-align: bottom;
            padding-bottom:  0;
        } 
        @top-right {
			font-family: "Typer Pro Mono";
			letter-spacing: -.0425em;
            content: counter(page);
            vertical-align: bottom;
            padding-bottom:  0;
        }

    }
@page body:right {
        @top-left {
			font-family: "Typer Pro Mono";
			letter-spacing: -.0425em;
			text-transform:  uppercase;
            content: string(doctitle);
            vertical-align: bottom;
            padding-bottom:  0;
        } 
        @top-right {
			font-family: "Typer Pro Mono";
			letter-spacing: -.0425em;
            content: counter(page);
            vertical-align: bottom;
            padding-bottom:  0;
        }

    }


@page pagenumonly:left {
        @top-left {
			font-family: "Typer Pro Mono";
			letter-spacing: -.0425em;
            content: counter(page);
            vertical-align: bottom;
            padding-bottom:  0;

        } 

    }
@page pagenumonly:right {
        @top-right {
			font-family: "Typer Pro Mono";
			letter-spacing: -.0425em;
            content: counter(page);
            vertical-align: bottom;
            padding-bottom:  0;
        }

    }

@page bottompage:left {
        @bottom-left {
			font-family: "Typer Pro Mono";
			letter-spacing: -.0425em;
            content: counter(page);
            vertical-align: top;
            padding-top:  0;

        } 

    }
@page bottompage:right {
        @bottom-right {
			font-family: "Typer Pro Mono";
			letter-spacing: -.0425em;
            content: counter(page);
            vertical-align: top;
            padding-top:  0;
        }

    }



@page nohead {
        @top-left {
			font-family: "Typer Pro Mono";
			letter-spacing: -.0425em;
            content: "";
            vertical-align: bottom;
        } 
        @top-right {
			font-family: "Typer Pro Mono";
			letter-spacing: -.0425em;
            content: "";
            vertical-align: bottom;
        }

    }


@page cover {
	background: #D5EBBD;
}


.cover {
	page-break-before: always;
	page: cover;
	font-family: "Typer Pro Mono";
	letter-spacing: -.0425em;
	line-height: 1em;
	color:  #183512;
}

.cover p {
	margin:  .125in auto 0 .1in;
	padding: 0 0;
	display:  inline-block;
	/*font-family:  "FrederickText";*/
	/*border:  1px solid red;*/
	font-size:  18pt;
	width:  96.5%;
}



.titlepage {
	counter-reset: page 1;
}

.title_subtitle {
	white-space: pre;
	text-align: justify;
}

.title_story_title {
	text-transform: uppercase;
}

.title_story_author {
	text-transform: uppercase;
	font-size: 8pt;
	float: right;
	margin-top: .45em;
}

.title_story {
	display:  inline-block;
	width: 100%;
	margin-top:  0;
	margin-bottom:  0;
}

.title_story_page {
	float: right;
	margin-left: 1em;
}

/*.underline {
	border-bottom:  1px solid black;
	padding-bottom: -5px;
	margin-bottom:  0;
}*/


.underline {
    text-decoration: none;
    position: relative;
    background-repeat: repeat-x;
    background-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==);
    background-position: left 15px;
}


.title_story_subhead {
	font-style: italic;
	margin-top:  0;
	margin-bottom:  0;
	padding-left:  .5in;
	font-size: 10pt;
}

.title_story_subhead em {
	font-style: normal;
}

.transform-normal {
	text-transform: capitalize;
}

.titlepage h1 {
	font-size:  12pt;
	text-align:  center;
	margin-top:  .2em;
	margin-bottom:  .2em;
}


.cover h2 {
	font-size: 18pt;
	text-align:  center;
	color:  #183512;
	font-family: "Lonsdale";
	/*filter: url(#dilate);*/
	font-weight:  100;
	margin-top:  .2em;
	margin-bottom:  .5em;
}

.titlepage h2 {
	font-size: 18pt;
	text-align:  center;
	font-family: "Lonsdale";
	font-weight:  100;
	margin-top:  .2em;
	margin-bottom:  .2em;
}

.titlepage h3 {
	text-transform: uppercase;
	font-weight:  bold;
	margin-top:  4px;
	margin-bottom:  0;
	font-family: "Bodoni MT Std";
}

.title_caps {
	text-transform: uppercase;
	text-align: center;
	font-size:  9pt;
	margin-top: .4em;
	margin-bottom:  .2em;
}

.title_caps_small {
	text-transform: uppercase;
	text-align: center;
	font-size:  6pt;
	margin-top: .2em;
	margin-bottom:  .2em;
}

.title_section_top {
	display:  block;
	border-top:  black 2px solid;
	border-bottom:  black 2px solid;
	border-bottom-style:  double;
	border-bottom-width:  5px;
}

.title_section_top p {
	font-family: "Lonsdale";
	font-weight:  100;
	font-size: 12pt;
	margin-top:  0;
	margin-bottom: 0;
	display:  inline-block;
	width:  100%;
}

.title_section_bottom {
	display:  block;
	border-top:  black 2px solid;
	border-top-style:  double;
	border-top-width:  5px;
	border-bottom:  black 2px solid;
	line-height:  8pt;
}

.title_section_bottom p {
	margin-top:  0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
	padding-left:  .25in;
	padding-right: .25in;
	/*border:  1px solid red;*/
	width: 90%;
	display:  inline-block;
	font-size: 8pt;
	text-align:  justify;
	text-align-last: justify;
}


.page {
	/*font-family: "American Typewriter ITC Pro";*/
	/*font-family: Courier;*/
	font-family: "Typer Pro Mono";
	/*letter-spacing: -.07em;*/
	letter-spacing: -.0425em;
	line-height: 1em;
	/*margin-top: 20px;*/
	page-break-before: always;
	page: body;
}

.nohead {
	page: nohead;
}

.pagenumonly {
	page: pagenumonly;
}

.bottompage {
	page: bottompage;
}



.titlepage {
	counter-reset: page 1;
	page: nohead;
}


.page p.text_block_name {
	color: red;
	margin-top:.2in; margin-bottom:.2in;
}
.page p {
	white-space: pre;
	margin-top: 0;
	margin-bottom: 0;
}

.page h1.title {
	text-transform:  uppercase;
	string-set: doctitle content();
	text-align:  center;
	font-family: "Times New Roman";
}

h2.author {
	text-align:  center;
	font-family: "Times New Roman";
}

h2.subhead {
	text-align:  center;
	font-size: 14pt;
	font-family: "Times New Roman";
}

.illustrated {
	text-align:  center;
	font-style:  italic;
	font-family: "Times New Roman";
}

.alignbottom {
	position: fixed;
    bottom: 0;
}


.thin {
    display: inline-block;
    /* this width value may need to be adjusted to make the MB "half-spaced"       */
    /* justification work - tweak this value until line endings seem to match up.  */
    width: .24em;
}

.page u {
	text-decoration-skip-ink: none;
	/* text-decoration-thickness: 2px; */
}

.postscript {
	border:  1px solid black;
	width:  100%;
}

.fen_wer>.title {
	display: none;
}

.fen_wer>.author {
	font-family: "Bodoni MT Std";
	font-size: 32pt;
	margin-bottom: .75in;
}

.fen_wer>.subhead {
	font-family: "Bodoni MT Std";
	font-size: 16pt;
	line-height:  1em;
	margin-bottom: .5in;
}

