
img {
    /*filter: url(#squiggle);*/
    /*filter: url(#noiseFilter);*/
}

@font-face {
      font-family: "Hadriano Stone Cut";
      src: prince-lookup("HadrianoStoneCut"),
           url("/Users/jpease/Library/Fonts/LTCHdrStc-Reg.otf") format("opentype");
    }

@page {
	size: 7in 10.5in;
	/*border:  1px solid red;*/
	/*marks: crop;*/
	margin-top: .75in;
	margin-bottom: .75in;
	margin-inside: .875in;
	margin-outside:  .875in;
	padding-top:  .125in;
	padding-bottom:  .125in;
}


@page extraspace {
	margin-bottom: 0;
	padding-bottom:  0;
}



@page body:left {
        @top-left {
			font-family: "Typer Pro Mono";
			letter-spacing: -.0425em;
            content: "THE NEKROMANTIKON";
            vertical-align: bottom;
            padding-bottom:  0;
        } 
        @top-right {
			font-family: "Typer Pro Mono";
			letter-spacing: -.0425em;
            content: counter(page);
            vertical-align: bottom;
            padding-bottom:  0;
        }

    }
@page body:right {
        @top-left {
			font-family: "Typer Pro Mono";
			letter-spacing: -.0425em;
			text-transform:  uppercase;
            content: string(doctitle);
            vertical-align: bottom;
            padding-bottom:  0;
        } 
        @top-right {
			font-family: "Typer Pro Mono";
			letter-spacing: -.0425em;
            content: counter(page);
            vertical-align: bottom;
            padding-bottom:  0;
        }

    }


@page reverse:left {
        @top-left {
			font-family: "Typer Pro Mono";
			letter-spacing: -.0425em;
            content: string(doctitle);
            vertical-align: bottom;
            padding-bottom:  0;
        } 
        @top-right {
			font-family: "Typer Pro Mono";
			letter-spacing: -.0425em;
            content: counter(page);
            vertical-align: bottom;
            padding-bottom:  0;
        }

    }
@page reverse:right {
        @top-left {
			font-family: "Typer Pro Mono";
			letter-spacing: -.0425em;
			text-transform:  uppercase;
            content: "THE NEKROMANTIKON";
            vertical-align: bottom;
            padding-bottom:  0;
        } 
        @top-right {
			font-family: "Typer Pro Mono";
			letter-spacing: -.0425em;
            content: counter(page);
            vertical-align: bottom;
            padding-bottom:  0;
        }

    }


@page pagenumonly:left {
        @top-left {
			font-family: "Typer Pro Mono";
			letter-spacing: -.0425em;
            content: counter(page);
            vertical-align: bottom;
            padding-bottom:  0;

        } 

    }
@page pagenumonly:right {
        @top-right {
			font-family: "Typer Pro Mono";
			letter-spacing: -.0425em;
            content: counter(page);
            vertical-align: bottom;
            padding-bottom:  0;
        }

    }

@page bottompage:left {
        @bottom-left {
			font-family: "Typer Pro Mono";
			letter-spacing: -.0425em;
            content: counter(page);
            vertical-align: top;
            padding-top:  0;

        } 

    }
@page bottompage:right {
        @bottom-right {
			font-family: "Typer Pro Mono";
			letter-spacing: -.0425em;
            content: counter(page);
            vertical-align: top;
            padding-top:  0;
        }

    }



@page nohead {
        @top-left {
			font-family: "Typer Pro Mono";
			letter-spacing: -.0425em;
            content: "";
            vertical-align: bottom;
        } 
        @top-right {
			font-family: "Typer Pro Mono";
			letter-spacing: -.0425em;
            content: "";
            vertical-align: bottom;
        }

    }


@page cover {
	background: #D5EBBD;
}


.cover {
	page-break-before: always;
	page: cover;
	font-family: "Typer Pro Mono";
	letter-spacing: -.0425em;
	line-height: 1em;
	color:  #183512;
}

.cover_volume {
	margin:  .125in auto 0 .1in;
	padding: 0 0;
	display:  inline-block;
	font-family:  "Goudy Text MT Std";
	/*border:  1px solid red;*/
	font-size:  18pt;
	width:  96.5%;
}



.titlepage {
	counter-reset: page 1;
}

.title_subtitle {
	white-space: pre;
	text-align: justify;
}

.title_story_title {
	text-transform: uppercase;
}

.title_story_author {
	text-transform: uppercase;
	font-size: 8pt;
	float: right;
	margin-top: .45em;
}

.title_story {
	display:  inline-block;
	width: 100%;
	margin-top:  0;
	margin-bottom:  0;
}

.title_story_page {
	float: right;
	margin-left: 1em;
}

/*.underline {
	border-bottom:  1px solid black;
	padding-bottom: -5px;
	margin-bottom:  0;
}*/


.underline {
    text-decoration: none;
    position: relative;
    background-repeat: repeat-x;
    background-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==);
    background-position: left 15px;
}


.title_story_subhead {
	font-style: italic;
	margin-top:  0;
	margin-bottom:  0;
	padding-left:  .5in;
	font-size: 10pt;
}

.title_story_subhead em {
	font-style: normal;
}

.transform-normal {
	text-transform: capitalize;
}

.titlepage h1 {
	font-size:  12pt;
	text-align:  center;
	margin-top:  .2em;
	margin-bottom:  .2em;
}


.cover h2 {
	font-size: 18pt;
	text-align:  center;
	color:  #183512;
	font-family: "Lonsdale";
	/*filter: url(#dilate);*/
	font-weight:  100;
	margin-top:  .2em;
	margin-bottom:  .5em;
}

.titlepage h2 {
	font-size: 18pt;
	text-align:  center;
	font-family: "Lonsdale";
	font-weight:  100;
	margin-top:  .2em;
	margin-bottom:  .2em;
}

.titlepage h3 {
	text-transform: uppercase;
	font-weight:  bold;
	margin-top:  4px;
	margin-bottom:  0;
	font-family: "Bodoni MT Std";
}

.title_caps {
	text-transform: uppercase;
	text-align: center;
	font-size:  9pt;
	margin-top: .4em;
	margin-bottom:  .2em;
}

.title_caps_small {
	text-transform: uppercase;
	text-align: center;
	font-size:  6pt;
	margin-top: .2em;
	margin-bottom:  .2em;
}

.title_section_top {
	display:  block;
	border-top:  black 2px solid;
	border-bottom:  black 2px solid;
	border-bottom-style:  double;
	border-bottom-width:  5px;
}

.title_section_top p {
	font-family: "Lonsdale";
	font-weight:  100;
	font-size: 12pt;
	margin-top:  0;
	margin-bottom: 0;
	display:  inline-block;
	width:  100%;
}

.title_section_bottom {
	display:  block;
	border-top:  black 2px solid;
	border-top-style:  double;
	border-top-width:  5px;
	border-bottom:  black 2px solid;
	line-height:  8pt;
}

.title_section_bottom p {
	margin-top:  0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
	padding-left:  .25in;
	padding-right: .25in;
	/*border:  1px solid red;*/
	width: 90%;
	display:  inline-block;
	font-size: 8pt;
	text-align:  justify;
	text-align-last: justify;
}


.page {
	/*font-family: "American Typewriter ITC Pro";*/
	/*font-family: Courier;*/
	font-family: "Typer Pro Mono";
	/*letter-spacing: -.07em;*/
	letter-spacing: -.0425em;
	line-height: 1em;
	/*margin-top: 20px;*/
	page-break-before: always;
	page: body;
}

.nohead {
	page: nohead;
}

.pagenumonly {
	page: pagenumonly;
}

.bottompage {
	page: bottompage;
}


.extraspace {
	page: extraspace;
}



.titlepage {
	counter-reset: page 1;
	page: nohead;
}


.page p.text_block_name {
	color: red;
	margin-top:.2in; margin-bottom:.2in;
}
.page p {
	white-space: pre;
	margin-top: 0;
	margin-bottom: 0;
}

.page h1.title {
	text-transform:  uppercase;
	string-set: doctitle content();
	text-align:  center;
	font-family: "Times New Roman";
}

h2.author {
	text-align:  center;
	font-family: "Times New Roman";
}

h2.subhead {
	text-align:  center;
	font-size: 14pt;
	font-family: "Times New Roman";
}

.illustrated {
	text-align:  center;
	font-style:  italic;
	font-family: "Times New Roman";
	font-size:  9pt;
	margin:  0;
}


.illustrated_right {
	font-style:  italic;
	font-family: "Times New Roman";
	font-size:  6pt;
	margin:  0;
	position:  relative;
	font-weight:  normal;
	word-spacing: 25px;
	top: -.125in;
	left:  4in;
}

.alignbottom {
	position: fixed;
    bottom: 0;
}


.thin {
    display: inline-block;
    /* this width value may need to be adjusted to make the MB "half-spaced"       */
    /* justification work - tweak this value until line endings seem to match up.  */
    width: .24em;
}

.page u {
	text-decoration-skip-ink: none;
	/* text-decoration-thickness: 2px; */
}

.postscript {
	border:  1px solid black;
	width:  100%;
}

.caption {
	font-family: "Times New Roman";
	text-align:  center;
	font-size:  12pt;
	margin-top:  5em;
}



.reverse {
	page: reverse;
}

.fen_wer>.title {
	display: none;
}

.fen_wer>.author {
	font-family: "Bodoni MT Std";
	font-size: 32pt;
	margin-bottom: .75in;
}

.fen_wer>.subhead {
	font-family: "Bodoni MT Std";
	font-size: 16pt;
	line-height:  1em;
	margin-bottom: .5in;
}

.doomsroad h1.title {
	margin-top: 1in;
	font-family: "Hadriano Stone Cut";
	letter-spacing:  .1em;
	font-size: 32pt;
	margin-bottom: .75in;
}

.doomsroad .author {
	font-family: "Archive American Shadow";
	font-size: 20pt;
	margin-bottom: 1in;
	letter-spacing:  .1em;
}

.doomsroad .subhead {
	font-family: "Times New Roman";
	font-size: 12pt;
	font-weight:  normal;
	line-height:  1.2em;
	letter-spacing:  .03em;
	margin-bottom: 1in;
}

div.rainbowcities{
	padding-top: .8in;
}

.rainbowcities p {
	line-height:  .75em;
}

.rainbowcity h1.title {
	display: block;
	width: 100%;
	text-align: left;
	margin-top: .2in;
	line-height:  1em;
	font-family: "Delphian";
	letter-spacing:  .1em;
	font-size: 32pt;
	margin-bottom: .75in;
}


.rainbowcity .author {
	font-family: "Archive American Shadow";
	font-size: 16pt;
	margin-bottom: .75in;
	letter-spacing:  .1em;
}

.rainbowcity .subhead {
	font-family: "Times New Roman";
	font-size: 14pt;
	font-weight:  normal;
	line-height:  1.2em;
	letter-spacing:  .03em;
	margin-bottom: 1in;
}



div.rainbow_city_postscript {
	border:  1px solid black;
	width:  100%;
	padding: .02in 0 .02in 0;
}

.rainbow_city_postscript p {
	margin-left:  .3in;
}

.mrhodgett h1.title {
	display: block;
	font-family: "LTC Hadriano";
	/*font-face:  "Regular";*/
	width: 100%;
	font-size: 21pt;
	text-align:  left;
	line-height:  1.2em;
	letter-spacing:  .03em;
	margin-bottom:  .75in;
}

.mrhodgett .author {
	font-family: "Hadriano Stone Cut";
	font-size: 21pt;
	margin-bottom: .1in;
	letter-spacing:  .03em;
	text-transform:  uppercase;
}

div.innsmouth_content {
	position: fixed;
	top: 1in;
	left: .25in;
}

.rrp_postscript {
	display:  block;
	width: 100%;
	padding:  0;
}

.rrp_postscript img {
	display:  block;
	margin: 0 auto 0 auto;
	width: 75%;
}

.rrp_postscript p {
	text-align:  center;
  	font-family: "Times New Roman";
	font-size: 12pt;
	line-height:  1.1em;
	margin:  .1em;
	letter-spacing:  .02em;
}


.rrp_postscript p.bigger {
  	font-family: "Bodoni MT Std";
	font-size: 14pt;
	line-height:  1.1em;
	letter-spacing:  .02em;
}

.innsmouth .author {
	font-family: "Goudy Text MT Std";
	text-transform:  none;
	font-size: 16pt;
	margin-bottom: .1in;
	letter-spacing:  .1em;
}

.innsmouth_content p {
  	font-family: "Times New Roman";
	font-size: 11pt;
	white-space: pre;
	margin-bottom: 2em;
	letter-spacing:  .07em;
	line-height:  1.3em;
}


.innsmouth_content p.stanza::first-letter {
  	font-family: "Times New Roman";
	font-size: 18pt;
}

.innsmouth_content p.emstanza {
	/*font-style: italic;*/
}


.houseofshadows h1.title {
	display: none;
	text-transform: uppercase;
}

.houseofshadows .author {
	font-family: "Archive American Shadow";
	font-size: 16pt;
	margin-bottom: .1in;
	letter-spacing:  .1em;
}

.houseofshadows .subhead {
	font-family: "Times New Roman";
	font-size: 14pt;
	font-weight:  normal;
	line-height:  1.2em;
	letter-spacing:  .03em;
	margin-bottom: 1in;
}


div.house_of_shadows_postscript {
	display: block;
	margin:  0 auto;
	border:  1px dotted black;
	width:  95%;
	padding: .02in 0 .02in 0;
}

.house_of_shadows_postscript p {
	width:  100%;
	margin-left:  .5in;
}


.tallterriblewomen h1.title {
	text-transform:  none;
	text-align:  center;
	font-family: "Lonsdale";
	font-size: 18pt;
	margin-bottom: .1in;
	letter-spacing:  .03em;
}

.tallterriblewomen .author {
	font-family: "Lonsdale";
	text-transform:  none;
	font-size: 14pt;
	margin-bottom: .2in;
	letter-spacing:  .01em;
}

.tallterriblewomen .subhead {
	font-family: "Times New Roman";
	font-size: 14pt;
	font-weight:  normal;
	line-height:  1.2em;
	letter-spacing:  .03em;
	margin-bottom: .1in;
}

.tallterriblewomen p {
	margin-left: 1.4in;
	font-family: "Times New Roman";
	font-size: 10pt;
	line-height:  1.4em;
	letter-spacing:  .05em;
}


.metamorphosis h1.title {
	text-align:  center;
	font-family: "Bodoni MT Std";;
	font-size: 22pt;
	margin-bottom: .1in;
	letter-spacing:  .05em;
}

.metamorphosis .author {
	font-family: "Bodoni MT Std";
	font-size: 14pt;
	margin-bottom: .1in;
	letter-spacing:  .05em;
}

.metamorphosis .subhead {
	font-family: "Times New Roman";
	font-size: 10pt;
	font-weight:  normal;
	line-height:  1.2em;
	letter-spacing:  .03em;
	margin-bottom: .1in;
}

.hauntedstreet h1.title {
	font-family: "Archive American Shadow";
	text-align:  center;
	letter-spacing:  .03em;
	font-size: 14pt;
	margin-bottom: .1in;
}

.hauntedstreet .author {
	font-family: "Lonsdale";
	text-transform:  none;
	font-size: 10pt;
	margin-bottom: .75in;
	letter-spacing:  .1em;
}

.hauntedstreet .subhead {
	font-family: "Times New Roman";
	font-size: 14pt;
	font-weight:  normal;
	line-height:  1.2em;
	letter-spacing:  .03em;
	margin-bottom: .1in;
}

.hauntedstreet p {
	font-family: "Times New Roman";
	font-size: 10pt;
	letter-spacing:  .03em;
	line-height:  1.2em;
	margin-left:  1in;
}

.oculus h1.title {
	text-align:  center;
	font-family: "Bodoni MT Std";;
	font-size: 22pt;
	margin-bottom: .1in;
}

.oculus .author {
	font-family: "Bodoni MT Std";
	font-size: 14pt;
	margin-bottom: .1in;
	letter-spacing:  .1em;
}

.oculus .subhead {
	font-family: "Bodoni MT Std";
	font-size: 14pt;
	font-weight:  normal;
	line-height:  1.2em;
	letter-spacing:  .03em;
	margin-bottom: .1in;
}