<html>

<head>
<title>Nekromantikon 2</title>
<link rel="stylesheet" href="styles2.css" />
</head>

<body>

<div id="cover" class="cover">
<img style="display: block; margin: 0 auto 0 auto; width: 100%" src="images/cover_logo.svg" />
<h2>Amateur Magazine of Weird and Fantasy</h2>

<img style="display: block; margin: 0 auto 0 auto; width: 100%" src="images/cover_both.svg" />
<p>Volume 1, Number 2<span style="float:  right">Summer 1950</span></p>
</div>

<div id="coverback" class="cover">
</div>

<div class="titlepage">
<img style="position: fixed; top: 0; left: 0; height: .5in" src="images/witch.svg" />
<img style="position: fixed; top: 0; right: 0; height: .5in" src="images/witch.svg" />


<img style="display: block; margin: .5in auto 0 auto; width: 79%" src="images/title_logo.svg" />
<h2>Amateur Magazine of Weird and Fantasy</h2>

<div class="title_section_top">
<p>Summer 1950 <span style="float: right;">25¢ A Copy — 1 Shilling in U. K.</span></p>
<p>Manly Banister, Editor-Publisher <span style="float: right;">Member N. F. F. F.</span></p>
</div>

<p class="title_caps">Cover by Ralph Rayburn Phillips</p>
<p class="title_caps_small">Interior Illustrations by Banister, Phillips, Dunn</p>

<h3 style="margin-top: .3em;">Stories</h3>
<p class="title_story">
<span class="title_story_title">Fen-Wer</span>
<span class="title_story_page">4</span>
<span class="title_story_author">Manly Banister</span>
</p>
<p class="title_story_subhead">Out of the foul fen the horror rose. . . .</p>

<p class="title_story">
<span class="title_story_title">Doomsroad</span>
<span class="title_story_page">21</span>
<span class="title_story_author">Wilkie Conner</span>
</p>
<p class="title_story_subhead">The loneliest road is the heaviest traveled.</p>

<p class="title_story">
<span class="title_story_title">Mr. Hodgett's Quick Conversion</span>
<span class="title_story_page">31</span>
<span class="title_story_author">Battell Loomis</span>
</p>
<p class="title_story_subhead">Forgive or fellow man his morsel of honest doubt.</p>

<p class="title_story">
<span class="title_story_title">The House of Shadows</span>
<span class="title_story_page">36</span>
<span class="title_story_author">Herman Stowell King</span>
</p>
<p class="title_story_subhead">Shadows clustered in the odd geometry of that fateful house.</p>

<p class="title_story">
<span class="title_story_title">Metamorphosis</span>
<span class="title_story_page">44</span>
<span class="title_story_author">J. A. McKEE</span>
</p>
<p class="title_story_subhead">Like to like and kind to kind. . .with vengeance!</p>

<p class="title_story">
<span class="title_story_title">Oculus Penetrans</span>
<span class="title_story_page">52</span>
<span class="title_story_author">M. Houston</span>
</p>
<p class="title_story_subhead">A discerning fellow, who could see through <em>almost</em> everybody.</p>

<h3 style="margin-top: .6em;">Article</h3>
<p class="title_story">
<span class="title_story_title">Rainbow City of Antarctica</span>
<span class="title_story_page">27</span>
<span class="title_story_author">C. H. Spaulding</span>
</p>

<h3 style="margin-top: .4em;">Verse</h3>
<p class="title_story">
<span class="title_story_title">Moon-Calf</span>
<span class="title_story_page">19</span>
<span class="title_story_author">Rory Faulkner</span>
</p>

<p class="title_story">
<span class="title_story_title">Rainbow Cities</span>
<span class="title_story_page">26</span>
<span class="title_story_author">Emili A.</span>
</p>

<p class="title_story">
<span class="title_story_title">Innsmouth</span>
<span class="title_story_page">34</span>
<span class="title_story_author">R. Flavie Carson</span>
</p>

<p class="title_story">
<span class="title_story_title">The Tall Terrible Woman</span>
<span class="title_story_page">43</span>
<span class="title_story_author">Lilith Lorraine</span>
</p>

<p class="title_story">
<span class="title_story_title">The Haunted Street</span>
<span class="title_story_page">51</span>
<span class="title_story_author">Astara Zimmer Bradley</span>
</p>

<p class="title_story">
<span class="title_story_title">David H. Keller, M. D.</span>
<span class="title_story_author">Tom Carter — Inside Back Cover</span>
</p>

<h3 style="margin-top: .6em;">Feature</h3>
<p class="title_story">
<span class="title_story_title">Ralph Rayburn Phillips, <span class="transform-normal">Ultra-Weird Artist</span>
<span class="title_story_page">3</span>
</p>

<p style="text-align: center; font-size: 12pt;">Autumn issue out about August 1st.</p>

<div class="title_section_bottom">
<p><span style="text-align: justify">Published quarterly by <em>THE NEKROMANTIKON</em>, 1905 Spruce Avenue, Kansas City 1, Missouri. Single</span></p>
<p>copy 25 cents. Year subscription (4 issues) $1.00. No payment is made for literary material or artwork</p>
<p>beyond a free copy of the issue containing the creative work. Please enclose stamped, self-addressed en-</p>
<p>velope with material submitted. Copyright 1950 by <em>THE NEKROMANTIKON</em>. All rights reserved to the</p>
<p style="text-align-last: left;margin-bottom: 5px;">individual authors. <span style="float:right;">Printed in U. S. A.</span></p>
</div>


</div>


<div class="page">
{{ text_blocks['intro_2']['content'] }}
</div>

<div class="page pagenumonly">
{{ text_blocks['ultra_weird_3']['content'] }}
</div>


<div class="page bottompage fen_wer">
<h1 class="title">Fen-Wer</h1>
<h2 class="author">By Manly Banister</h2>
<h2 class="subhead">What loathsome, evil Thing<br />dwelt in the mire of that ghastly fen?</h2>
<p class="illustrated">Illustrated by Banister</h2>

<div class="alignbottom">
{{ text_blocks['fen_wer_4']['content'] }}
</div>
</div>


<div class="page nohead">
Frog picture
</div>

<div class="page">
{{ text_blocks['fen_wer_6']['content'] }}
</div>

<div class="page">
{{ text_blocks['fen_wer_7']['content'] }}
</div>

<div class="page">
{{ text_blocks['fen_wer_8']['content'] }}
</div>

<div class="page">
{{ text_blocks['fen_wer_9']['content'] }}
</div>

<div class="page">
{{ text_blocks['fen_wer_10']['content'] }}
</div>

<div class="page">
{{ text_blocks['fen_wer_11']['content'] }}
</div>

<div class="page">
{{ text_blocks['fen_wer_12']['content'] }}
</div>

<div class="page">
<div class="alignbottom">
{{ text_blocks['fen_wer_13']['content'] }}
</div>
</div>

<div class="page">
{{ text_blocks['fen_wer_14']['content'] }}
</div>

<div class="page">
{{ text_blocks['fen_wer_15']['content'] }}
</div>

<div class="page">
{{ text_blocks['fen_wer_16']['content'] }}
</div>

<div class="page">
{{ text_blocks['fen_wer_17']['content'] }}
</div>

<div class="page">
{{ text_blocks['fen_wer_18']['content'] }}
</div>

<div class="page">
{{ text_blocks['fen_wer_19']['content'] }}
</div>

<div class="page nohead">
Doomsroad picture
</div>


<div class="page pagenumonly doomsroad">
<h1 class="title">Doomsroad</h1>
<h2 class="author">By Wilkie Conner</h2>
<h2 class="subhead">It was a long road, a dismal and lonely<br />road, but there was company to be had<br />at its end. . . .</h2>
<p class="illustrated">Illustrated by Banister</h2>

<div class="alignbottom">
{{ text_blocks['doomsroad_21']['content'] }}
</div>
</div>

<div class="page">
<p>Page 22 missing from PDF. :-(</p>
</div>

<div class="page">
<p>Page 23 missing from PDF. :-(</p>
</div>

<div class="page">
{{ text_blocks['doomsroad_24']['content'] }}
</div>

<div class="page">
{{ text_blocks['doomsroad_25']['content'] }}
</div>

<div class="page">
{{ text_blocks['rainbow_cities_26']['content'] }}
</div>

<div class="page bottompage rainbowcity">
<h1 class="title">Rainbow City Of Antarctica</h1>
<h2 class="author">By C. H. Spaulding</h2>
<p class="illustrated">Illustrated by Ralph Rayburn Phillips</h2>

<div class="alignbottom">
{{ text_blocks['rainbow_city_27']['content'] }}
</div>
</div>

<div class="page">
{{ text_blocks['rainbow_city_28']['content'] }}
</div>


<div class="page">
{{ text_blocks['rainbow_city_29']['content'] }}
</div>


<div class="page">
{{ text_blocks['rainbow_city_30']['content'] }}

<div class="alignbottom postscript">
{{ text_blocks['rainbow_city_postscript_30']['content'] }}
</div>
</div>

<div class="page bottompage mrhodgett">
<h1 class="title">Mr. Hodgett's Quick Conversion</h1>
<h2 class="author">By Battell Loomis</h2>

<div class="alignbottom">
{{ text_blocks['mr_hodgett_31']['content'] }}
</div>

<div class="page">
{{ text_blocks['mr_hodgett_32']['content'] }}
</div>

<div class="page">
{{ text_blocks['mr_hodgett_33']['content'] }}
</div>

<div class="page nohead innsmouth">
Innsmouth Title Page
</div>

<div class="page nohead innsmouth">
Innsmouth Poem
</div>

<div class="page houseofshadows">
<h1 class="title">The House Of Shadows</h1>
<h2 class="author">By Herman Stowell King</h2>
</div>


<div class="page">
{{ text_blocks['house_of_shadows_37']['content'] }}
</div>

<div class="page">
{{ text_blocks['house_of_shadows_38']['content'] }}
</div>

<div class="page">
{{ text_blocks['house_of_shadows_39']['content'] }}
</div>

<div class="page">
{{ text_blocks['house_of_shadows_40']['content'] }}
</div>

<div class="page">
{{ text_blocks['house_of_shadows_41']['content'] }}
</div>

<div class="page">
{{ text_blocks['house_of_shadows_42']['content'] }}

<div class="alignbottom postscript">
{{ text_blocks['house_of_shadows_postscript_42']['content'] }}
</div>
</div>


<div class="page nohead terriblewoman">
The Tall Terrible Woman
</div>

<div class="page metamorphosis">
<h1 class="title">Metamorphosis</h1>
<h2 class="author">BY J. A. McKEE</h2>
<h2 class="subhead">What mysterious force linked these predators, wild and civilized?</h2>

<div class="alignbottom">
{{ text_blocks['metamorphosis_44']['content'] }}
</div>
</div>

<div class="page">
{{ text_blocks['metamorphosis_45']['content'] }}
</div>

<div class="page">
{{ text_blocks['metamorphosis_46']['content'] }}
</div>

<div class="page">
{{ text_blocks['metamorphosis_47']['content'] }}
</div>

<div class="page">
{{ text_blocks['metamorphosis_48']['content'] }}
</div>

<div class="page">
{{ text_blocks['metamorphosis_49']['content'] }}
</div>


<div class="page">
{{ text_blocks['metamorphosis_50']['content'] }}

<div class="alignbottom postscript">
{{ text_blocks['metamorphosis_postscript_50']['content'] }}
</div>
</div>


<div class="page hauntedstreet">
<h1 class="title">The Haunted Street</h1>
<h2 class="author">By Astara Zimmer Bradley</h2>

<div class="alignbottom">
{{ text_blocks['the_haunted_street_51']['content'] }}
</div>
</div>


<div class="page oculus">
<h1 class="title">Oculus Penetrans</h1>
<h2 class="author">By M. Houston</h2>
<h2 class="subhead">He was granted one wish. . .in a most astonishing way!</h2>
</div>


<div class="page">
{{ text_blocks['oculus_penetrans_53']['content'] }}
</div>


<div class="page">
{{ text_blocks['oculus_penetrans_54']['content'] }}
</div>

<div class="page">
{{ text_blocks['oculus_penetrans_55']['content'] }}
</div>

<div class="page">
{{ text_blocks['oculus_penetrans_56']['content'] }}
</div>

<div class="page">
{{ text_blocks['oculus_penetrans_57']['content'] }}
</div>

<div class="page">
{{ text_blocks['oculus_penetrans_58']['content'] }}
</div>


<div id="backcoverback" class="cover">
<h1 class="title">David H Keller, M.D.</h1>
<h2 class="author">By Tom Carter</h2>
{{ text_blocks['david_h_keller_md_59']['content'] }}
</div>

<div id="backcover" class="cover">
UL-UL
</div>


</body>
<svg
    xmlns="http://www.w3.org/2000/svg"
    version="1.1"
    height="0"
    width="0"
>
    <defs>
        <filter id="squiggle">
            <feTurbulence
                type="fractalNoise"
                id="turbulence"
                baseFrequency=".05"
                numOctaves="4"
            />
            <feDisplacementMap
                id="displacement"
                in="SourceGraphic"
                scale="40"
            />
        </filter>
    </defs>
</svg>
<svg>
  <filter id='noiseFilter'>
    <feTurbulence 
      type='fractalNoise' 
      baseFrequency='6.29' 
      numOctaves='6' 
      stitchTiles='stitch'/>
  </filter>
</svg>
<svg>
    <filter id="erode">
        <feMorphology operator="erode" radius="20"></feMorphology>
    </filter>
</svg>
<svg>
    <filter id="dilate">
        <feMorphology operator="dilate" radius="20"></feMorphology>
    </filter>
</svg>
</html>
